* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    min-width: 100%;
}

.wrapper_header {
    height: 100vh;
    min-height: 550px;
    max-height: 1000px;
}

.global_div {
    height: 100%;
    position: relative;
}

.bg_img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* min-height: 600px; */
    background: url(../maket/fon.png);
    background-size: cover;
}

.bg_img::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.header {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

#logo {
    max-width: 5vw;
    transition: 0.2s;

}
.animate_logo {
    transform: translateX(-100vw);
}
/* -----------------------------MAIN------------------------------ */
.burger__main {
    display: none;
}

#main_container.animate_main {
    background: #000;
    margin-top: 0px;
}
.animate_main .main_line {
    opacity: 0;
}

#main_container {
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    transition: 0.2s;
    overflow: hidden;
}

.header_main {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.main {
    width: 60%;
    margin-right: -80px;
    transition: 0.2s;
}
.main_animate {
    transform: translateX(-20%);
}

.main ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main ul a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: auto;
    font-size: 16px;
}

.main ul a span {
    position: absolute;
    bottom: -1.9vw;
    left: -100%;
    width: 100%;
    height: 4px;
    background: #11749e;
    opacity: 0;
    transition: 0.2s;
}

.main ul a:hover span {
    left: 0;
    opacity: 1;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13%;
    transition: 0.2s;
}

.social_icons_animate {
    transform: translateX(-30%);
}

.social_img {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
}

#img_1 {
    background: url(../maket/Icons/facebook.svg) center no-repeat;
    background-size: 20px;

}

#img_1:hover {
    background: url(../maket/Icons/facebook2.svg) no-repeat center;
    background-size: 20px;
}

#img_2 {
    background: url(../maket/Icons/linkedin.svg) no-repeat center;
    background-size: 20px;
}

#img_2:hover {
    background: url(../maket/Icons/linkedin2.svg) no-repeat center;
    background-size: 20px;
}

#img_3 {
    background: url(../maket/Icons/skype.svg) no-repeat center;
    background-size: 20px;
}

#img_3:hover {
    background: url(../maket/Icons/skype2.svg) no-repeat center;
    background-size: 20px;
}

#img_4 {
    background: url(../maket/Icons/twitter.svg) no-repeat center;
    background-size: 20px;
}

#img_4:hover {
    background: url(../maket/Icons/twitter2.svg) no-repeat center;
    background-size: 20px;
}

.main_line {
    width: 110%;
    height: 1px;
    background: #797979;
}

/* -----------------------------TITLES------------------------------ */
.titels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1%;
    width: 100%;
    height: 15vw;

}

#title_cr_big {
    color: rgb(255, 255, 255);
    font-size: 10vw;
    text-transform: uppercase;

    transform: translate(0, 100%);
    opacity: 0;

}

#title_cr_big.active {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

#title_cr_small {
    color: #11749e;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.4vw;
    margin-right: -1.6%;

    transform: translate(0, 300%);
    opacity: 0;
}

#title_cr_small.active {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
}

/* ----------------------------BUTTON------------------------------ */
.button_down {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.button_down button {
    background: rgba(0, 0, 0, 0);
    width: 4.7vw;
    min-width: 55px;
    max-width: 80px;
    height: 4.7vw;
    min-height: 55px;
    max-height: 80px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button_down button svg {
    width: 100%;
    height: 100%;
    fill: white;
    transition: 0.3s;
}

.button_down button:hover svg {
    transform: rotate(360deg);
    border-color: currentColor;
    fill: #11749e;
}

.button_down p {
    color: #d5d5d5;
    font-size: 13px;
    margin-bottom: 20px;
}

/* ---------------------------------------------block 2 ------------------------------------*/
.wrapper_blocks {
    width: 100%;
    background: #11749e;
    position: relative;
}

#wrapper_blocks {
    position: absolute;
    left: 0;
    top:-3vw;
}

.content_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    min-height: 20vw;
    height: auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.top_title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14vw;
}

.top_title h1 {
    position: absolute;
    text-transform: uppercase;
    color: white;
    z-index: 2;
    font-weight: 500;
    font-size: 2.7vw;
}

.top_title p {
    position: absolute;
    z-index: 1;
    font-size: 14vw;
    font-weight: 800;
    color: #5993b2;
    font-stretch: extra-condensed;
}

.icon_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    overflow: hidden;
}

.icon_box_wrapper {
    display: flex;  
    width: 50%;
    justify-content: space-around;
}

.icon_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 20px;
    opacity: 0;
    transform: translate(100vh , 0);
    
}

#icon_box_1.active {
    transition-delay: 0.2s;
}

#icon_box_2.active {
    transition-delay: 0.3s;
}

#icon_box_3.active {
    transition-delay: 0.4s;
}

#icon_box_4.active {
    transition-delay: 0.5s;
}

.icon_box.active {
    transform: translate(0 , 0);
    transition: 0.8s;
    opacity: 1;
}

.icon_box h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.6vw;
    color: white;
}

.icon_box p {
    text-align: center;
    font-size: 13px;
    color: rgb(231, 231, 231);
    font-weight: 500;
    line-height: 1.5;
    margin-top: 17px;
}

.circle {
    border-radius: 50%;
    background: #2e85aa;
    width: 9vw;
    min-height: 100px;
    height: 9vw;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
}

.icon {
    width: 30%;
}

/* -----------------------------------block info------------------------ */
.wrapper_row {
    position: relative;
}

#wrapper_row {
    position: absolute;
    left: 0;
    top:-3vw;
}

.row_one {
    width: 100%;
    background: #222222;
    display: flex;
    overflow: hidden;
}

.row_two {
    width: 100%;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.block_text_1 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    transform: translate(-100%);
    opacity: 0;
}

.block_text_1.active,
.block_text_2.active {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.8s;
}

.block_text_2 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    transform: translate(100%);
    opacity: 0;
    transition-delay: 0.2s;
}

.img_block {
    width: 50%;
    position: relative;
}

.img_block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    left: 0;
    top: 0;
}

.block_wrap {
    max-width: 600px;
    padding: 60px 50px 80px 50px;
}

.block_wrap h1 {
    font-size: 25px;
    margin-bottom: 6px;
}

.block_wrap p {
    font-size: 15px;
}

.text_1 {
    color: white;
}

.date {
    font-size: 12px;
    margin-bottom: 13px;
}

/* ------------------------------cards----------------------------- */
.container_cards {
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.cards_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards_title h3 {
    color: #222222;
    font-size: 2vw;
    font-weight: 500;
    padding-bottom: 4vw;
    text-align: center;
    margin-top: 20px;
}

.cards_title_b {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14vw;
    text-align: center;
}

.cards_title_b p {
    position: absolute;
    z-index: 1;
    font-size: 14vw;
    font-weight: 800;
    color: #C6C6C6;
    font-stretch: extra-condensed;
}

.cards_title_b h1 {
    position: absolute;
    text-transform: uppercase;
    color: #222222;
    z-index: 2;
    font-weight: 500;
    font-size: 2.7vw;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.card_wrapper {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.card {
    width: 45%;
    min-width: 200px;
    min-height: 200px;
}

.card_img {
    position: relative;
    width: 100%;
    height: 19vw;
}

.card_img img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.card h3 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-stretch: expanded;
    color: #11749e;
    padding: 2vw 0 0.7vw 0;
}

.card p {
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}

/* ------------------------------------------info-row------------------------------------------ */
.info_wrapper {
    background: #11749e;
    min-height: 320px;
    display: flex;
    align-items: center;
    padding: 3vw 0 3vw 0;
}

.info_conteiner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info_block {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info_block img {
    width: 13%;
}

.info_block p {
    font-size: 15px;
    width: 82%;
    color: white;
    line-height: 1.5;
    font-weight: 500;
}

/* -------------------------------tutorial------------------------------- */
.tutorial_wrapper {
    background: url(../maket/bg_tutorial.png) no-repeat;
    background-size: cover;
}

.tutorial_container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.tutorial_content {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.tutorial_text {
    width: 80%;
    padding: 0 0 5vw 0;
}

.tutorial_text h1 {
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 2vw;
    letter-spacing: 0.1vw;
}

.tutorial_text p {
    color: white;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.1vw;
}

.tutorial_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.link_t {
    border: none;
    outline: none;
    height: 38px;
    margin-bottom: 1.6vw;
    background: #11749e;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.btn_tutorial {
    height: 100%;
    width: 100%;
    background: #00000071;
    position: absolute;
    left: -100%;
    top: 0;
    transition: 0.2s;
    z-index: 1;
}

.wrapper_p {
    position: absolute;    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    display: flex;
    align-items: center;
}

.wrapper_p p {
    color: white;
    font-size:100%;
    text-transform: uppercase;
    text-align: left;
    padding-left: 15px;
}

.link_t:hover .btn_tutorial {
    left: 0;
}

.link_t:nth-child(1) {
    width: 80%;
}

.link_t:nth-child(2) {
    width: 90%;
}

.link_t:nth-child(3) {
    width: 100%;
}

.tutorial_image {
    width: 50%;
    max-height: 650px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial_image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    object-position: center;
    padding: 5vw 0 5vw 0;

}
/*-------------------------cards_team------------------------*/
 .wrapper_team_cards{
    padding: 5vw 0 8vw 0;
 }
.cards_team {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}
.cards_team_wrapper {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.card_team {
    width: 45%;
    min-height: 350px;
    position: relative;
    opacity: 0;
}

.card_team.active {
    opacity: 1;
    transition: 1s; 
}

#card_team_1 {
    transition-delay: 0.2s; 
}

#card_team_2 {
    transition-delay: 0.4s; 
}

#card_team_3 {
    transition-delay: 0.6s; 
}

#card_team_4 {
    transition-delay: 0.8s; 
}
.card_team img{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.title_team{
    width: 70%;
    position: absolute;
    bottom: -20px;
    left: 15%;
    text-align: center;
    background: white;
    padding: 1vh;
}
.title_team h3{
    margin-bottom: 1vh;
    color: #11749e;
    font-weight: 500;
}
/*------------------------------------form-------------------------------*/
.wrapper_form{
    background: url(../maket/bg_form.png);
    background-size: cover;
    padding: 5vw 0 5vw 0;
}
.container_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.wrapper_form form{
    width: 80%;
    margin: 5vh 0 0 0;
}
.small_input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#c{
    opacity: 0.3;
}
#t{
    color: white;
    width: 100%;
}
.massage_input{
    width: 100%;
    margin-top: 20px;
}

#Message{
    width: 100%;
    resize: none;
    padding: 10px 10px 120px 10px;
    margin-bottom: 40px;
}

.button_form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_input{
    background: #11749e;
    border: none;
    color: white;
    padding: 15px 60px 15px 60px;
    transition: 0.2s;

}

.btn_input:hover{
    background: #094158;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.btn_input:focus{
    outline: none;
}

.title_form{
    width: 100%;
}

.input {
    width: 32%;
    padding: 10px;
    background: rgba(0,0,0,0);
    border: 1px solid white;
    color: white;
}

.input:focus{
    outline: solid #11749e 2px;
    border: 1px solid rgba(0,0,0,0);
}

.input::placeholder{
    color: white;
}

/*---------------------------------footer---------------------------------*/

.wrapper_footer {
    background:#222222;
    height: 80px;
}

.container_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;

    color: white ;
    font-size: 13px;
}

/*-----------------------------media 768px - 991px-----------------------------*/

@media (max-width: 991px){

/*------------------------------burger menu active------------------------------*/
    #main_container {
        margin-top: 0;
        background: #000;
        padding: 10px;

    }

    .main_line {
        display: none;
    }

    .burger_main {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 20px;
        cursor: pointer;
    }

    .burger_main:before{
        content: '';
        background: #fff;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.3s ease 0s ;
        z-index: 5;
    }
    .burger_main:after{
        content: '';
        background: #fff;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.3s ease 0s ;
        z-index: 5;
    }
    .burger_main span{
        width: 100%;
        position: absolute;
        top:9px;
        height: 2px;
        background: #fff;
        z-index: 5;
    }
    .main {
        left: 0;
        top: -100%;
        background: rgba(0,0,0,1);
        width: 100%;
        height: 100%;
        position: fixed;
        padding: 30px 0px 0px 0px;
        transition: all 0.3s;
        overflow: auto;
        padding-top: 60px;  
        z-index: 5;
    }

    .main.active{
        top: 0;

    }

    .main ul {
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
    }

    .burger_main.active:before{
        transform: rotate(45deg);
        bottom:9px;
    }
    .burger_main.active:after{
        transform: rotate(-45deg);
        top:9px;
    }
    .burger_main.active span{
        display:none;                       
    }
/*------------------------------burger menu active/exit------------------------------*/
    .global_div {
        min-height: 450px;
    }

    .social_icons {
        width: 20%;
    }

    #title_cr_big {
        font-size: 80px;
    }

    #title_cr_small {
        font-size: 15px;
    }
    /* --------------------------------block_icon -----------------------*/
    
    .top_title {
        margin-bottom: 40px;
    }

    .top_title h1 {
        font-size: 28px;
    }

    .top_title p {
        font-size: 140px;
    }

    .icon_blocks {
        flex-direction: column;
        align-items: center;
    }
    .icon_box_wrapper {
        width: 100%;
    }

    .icon_box {
        width: 40%;
    }

    /* --------------------------------cards -----------------------*/
    .cards_title h3 {
        font-size: 23px;
    }

    .cards_title_b h1 {
        font-size: 28px;
    }

    .cards_title_b p {
        font-size: 140px;
    }

    .cards {
        flex-direction: column;
    }

    .card_wrapper {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .card {
        width: 40%;
        margin: 20px 20px 20px 20px;
    }

    .card h3 {
        font-size: 17px;
    }

    .card p {
        font-size: 14px;
    }

    .card_img {

        min-height: 200px;
    }
    /* --------------------------------cards team -----------------------*/

    .cards_team {
        flex-direction: column;
    }

    .cards_team_wrapper {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card_team {
        width: 30%;
        min-width: 230px;
        margin: 20px 20px 20px 20px;
    }
}

/*-----------------------------media 576px - 767px-----------------------------*/

@media (max-width: 767px) {

    /* --------------------------------Akita Inu Dog -----------------------*/
    .block_text_1 {
        width:100%;
    }

    .block_text_2 {
        width:100%;
    }

    .img_block {
        display: none;
    }

    /* ------------------------------ Info Block -----------------------*/
    .info_conteiner {
        flex-direction: column;

    }
    .info_block{
        width: 100%;
    }

    .info_block:nth-child(1) {
        margin-bottom: 20px;
    }
    /* -------------------------------- tutorial -----------------------*/
    .tutorial_container {
        min-height: 400px;
    }

    .tutorial_image {
        display: none;
    }

    .tutorial_content {
        width: 100%;
    }

    /* --------------------------------form -----------------------*/

    .small_input {
        flex-direction: column;
    }

    .small_input input {
        width: 100%;
    }

    .small_input input:nth-child(1),
    .small_input input:nth-child(2){
        margin-bottom: 20px;
    }

    .wrapper_footer {
        height: 60px; 
    }

    .container_footer {
        flex-direction: column;
    }

}

@media (max-width: 575px) { 
    #logo {
        display: none;
    }

    .global_div {
        min-height: 450px;
    }

    .social_icons {
        width: 40%;
    }

    #title_cr_big {
        font-size: 42px;
    }

    #title_cr_small {
        font-size: 12px;
    }
    /* --------------------------------block_icon -----------------------*/
    
    .top_title {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .top_title h1 {
        font-size: 23px;
        text-align: center;
    }

    .top_title p {
        font-size: 100px;
    }

    .icon_blocks {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .icon_box_wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .icon_box {
        width: 80%;
    }
    .icon_box h3 {
        margin-top: 15px;
    }

    .icon_box p{
        margin-top: 10px;
    }

    /* --------------------------------cards -----------------------*/
    .cards_title {
        margin-top: 40px;
    }
    .cards_title h3 {
        font-size: 18px;
    }

    .cards_title_b h1 {
        font-size: 23px;
    }

    .cards_title_b p {
        font-size: 100px;
    }

    .cards {
        flex-direction: column;
    }

    .card_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin: 30px;
    }

    .card_img {
        margin-bottom: 20px; 
    }

    .card h3 {
        font-size: 16px;
    }

    .card p {
        font-size: 14px;
    }
    /* --------------------------------Akita Inu Dog -----------------------*/
    .block_wrap h1 {
        font-size: 22px;
    }

    /* ------------------------------ Info Block -----------------------*/

    .info_block{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .info_block p {
        text-align: center;
        margin-top: 10px;
        width: 100%;
    }

    .info_block:nth-child(1) {
        margin-bottom: 20px;
    }

    /* -------------------------------- tutorial -----------------------*/
    .tutorial_container {
        min-height: 300px;
    }

    .tutorial_content {
        align-items: center;
    }

    .tutorial_text {
        width: 100%;
        text-align: left;
    }

    .tutorial_text h1 {
        font-size: 20px;
    }

    .tutorial_buttons {
        width: 100%;
        margin-top: 40px;
    }

    .link_t:nth-child(1),
    .link_t:nth-child(2),
    .link_t:nth-child(3){
        width: 100%;
    }


    /* --------------------------------cards team -----------------------*/

    .cards_team {
        flex-direction: column;
    }

    .cards_team_wrapper {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card_team {
        width: 30%;
        min-width: 230px;
        margin: 20px 20px 20px 20px;
    }
}